.navbar {
  font-family: sans-serif;
  position: sticky;
  top: 0;
  padding: 10px;
  z-index: 10;
  // background-color: #01579b !important;
  background: rgb(25, 118, 210);
  background: linear-gradient(
    90deg,
    rgba(25, 118, 210, 1) 23%,
    rgba(33, 150, 243, 1) 68%
  );
  .custom-brand {
    letter-spacing: 2px;
    background: -webkit-linear-gradient(126deg, #2199ff, #76ff6e 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 25px;
  }
  .navbar-toggler {
    outline: 0;
    border: none;
    padding: 2px;
    background-color: transparent !important;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }
  .navbar-nav {
    .nav-item {
      margin-right: 10px;
      .nav-link {
        font-size: 16px;
        color: white;
      }
      .dropdown-menu {
        background-color: rgba(58, 149, 238, 0.9);
        .dropdown-item {
          text-transform: capitalize;
          color: white;
        }
        .dropdown-item:hover {
          background-image: none;
          background-color: rgba(57, 116, 181, 1);
        }
      }
    }
  }
}
.inputSearchColor {
  background-color: #455a64 !important;
  color: white !important;
  &::placeholder {
    color: #92a9b4;
  }
  border: none;
  outline: 0;
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .navbar {
    padding: 8px;
    .custom-brand {
      font-size: 20px;
    }
  }
}
